.modal-link {
    cursor: pointer;
}

.popup-overlay {
    display: none;
    position:fixed;
    z-index: 999;
    background:#000;
    opacity:0.5;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  top:20%;
  right:25%;
  left:25%;
  bottom:30%;
  background:#fff;
  padding: 0 30px;
  min-height: max-content;
}

.cross-wrapper {
    text-align: right;
}

.cross {
    text-align: right;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

.ult-form-alert {
    color:red;
}

.ult-form-success {
    color:green;
}
